
<!-- TOP LINE START-->
<section class="rj_top__line">
  <div class="rj_container">
    <div class="rj_top__meta">
      <div class="rj_date rj_m__s">Friday, January 6, 2017</div>
      <div class="rj_phone rj_m__s"><i class="fa fa-phone"></i><span>0542 623 748</span></div>
      <div class="rj_adress rj_m__s"> <i class="fa fa-map-marker"></i><span>вулиця Декабристів 80</span></div>
      <div class="rj_mail rj_m__s"><i class="fa fa-envelope"></i><a href="#">ssh25@gmail.com</a></div>
    </div>
  </div>
</section>
<!-- TOP LINE END-->
<!-- MAIN HEADER START-->
<header class="rj_header">
  <div class="rj_container">
    <div class="rj_row">
      <div class="col col--2-of-12">
        <div class="rj_logo__holder">
          <h1 class="rj_logo"><a href="">School Blog</a></h1>
        </div>
      </div>
      <div class="col col--8-of-12">
        <!-- HEADER NAVIGATION START-->
        <nav class="rj_main__nav">
          <ul class="rj_nav__list">
            <li><a href="#" class="active">Lorem.</a></li>
            <li><a href="#">Aliquid.</a></li>
            <li><a href="#">Voluptatem.</a></li>
            <li><a href="#">Fuga!</a></li>
            <li><a href="#">Obcaecati!</a></li>
            <li><a href="#">Recent</a></li>
            <li><a href="#">Observer!</a></li>
          </ul>
        </nav>
        <!-- HEADER NAVIGATION END-->
      </div>
      <div class="col col--2-of-12">
        <p>Search...</p>
      </div>
    </div>
  </div>
</header>
<!-- MAIN HEADER END-->