
<section class="rj_popular">
  <div class="rj_container">
    <div class="rj_row">
      <div class="col col--1-of-3">
        <article class="rj_popular__item">
          <div style="background-image: url(https://unsplash.it/1100/600/?random);" class="rj_popular__thumb"></div>
          <div class="rj_popular__content">
            <h3 class="rj_popular__title">Sit Amet, Consectetur Adipisicing Elit.</h3>
            <div class="rj_popular__meta"><span class="rj_popular__date">January 13, 2017</span><span class="rj_popular__cat">Popular</span></div>
          </div><a href="" class="rj_popular__link"></a>
        </article>
      </div>
      <div class="col col--1-of-3">
        <article class="rj_popular__item">
          <div style="background-image: url(https://unsplash.it/1100/600/?random);" class="rj_popular__thumb"></div>
          <div class="rj_popular__content">
            <h3 class="rj_popular__title">Sit Amet, Consectetur Adipisicing Elit.</h3>
            <div class="rj_popular__meta"><span class="rj_popular__date">January 13, 2017</span><span class="rj_popular__cat">Popular</span></div>
          </div><a href="" class="rj_popular__link"></a>
        </article>
      </div>
      <div class="col col--1-of-3">
        <article class="rj_popular__item">
          <div style="background-image: url(https://unsplash.it/1100/600/?random);" class="rj_popular__thumb"></div>
          <div class="rj_popular__content">
            <h3 class="rj_popular__title">Sit Amet, Consectetur Adipisicing Elit.</h3>
            <div class="rj_popular__meta"><span class="rj_popular__date">January 13, 2017</span><span class="rj_popular__cat">Popular</span></div>
          </div><a href="" class="rj_popular__link"></a>
        </article>
      </div>
    </div>
  </div>
</section>