
<!-- FEATURED SECTION START-->
<section class="rj_featured">
  <div class="rj_container">
    <div class="rj_row">
      <div class="col col--12-of-12">
        <div class="rj_featured_items">
          <div class="rj_featured__item">
            <div class="featured_image__holder">
              <div style="background-image: url(https://unsplash.it/1100/550/?random);" class="rj_featured__image"></div>
            </div>
            <div class="rj_featured__content">
              <div class="rj_featured__categories"><a href="#">Featured</a><a href="#">Featured</a></div>
              <h2><a href="#">Lorem ipsum dolor sit amet.</a></h2>
              <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt facilis ducimus voluptatum porro explicabo, ex officiis eveniet autem amet cum!</a></p>
              <div class="rj_featured__bottom">
                <div class="rj_entry__author"><a href="">Admin</a><span>|</span>
                  <div class="rj_article__date">January 13, 2017</div>
                </div>
              </div>
            </div>
          </div>
          <div class="rj_featured__item">
            <div class="featured_image__holder">
              <div style="background-image: url(https://unsplash.it/1100/500/?random);" class="rj_featured__image"></div>
            </div>
            <div class="rj_featured__content">
              <div class="rj_featured__categories"><a href="#">Featured</a><a href="#">Featured</a></div>
              <h2><a href="#">Lorem ipsum dolor sit amet.</a></h2>
              <p><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt facilis ducimus voluptatum porro explicabo, ex officiis eveniet autem amet cum!</a></p>
              <div class="rj_featured__bottom">
                <div class="rj_entry__author"><a href="">Admin</a><span>|</span>
                  <div class="rj_article__date">January 13, 2017</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- FEATURED SECTION END-->