
<!-- CONTENT SECTION START-->
<section class="rj_main__content">
  <div class="rj_container">
    <div class="rj_row">
      <div class="col col--2-of-3">
        <div class="rj_main__articles">
          <div class="rj_row">
            <div class="col col--2-of-2">
              <article class="rj_main__article">
                <div class="rj_article__body">
                  <div class="rj_entry__author"><a href="">Admin</a><span>|</span>
                    <div class="rj_article__date">January 13, 2017</div>
                  </div>
                  <div class="rj_article__thumb"><img src="https://unsplash.it/900/500/?random" alt=""/></div>
                  <h3 class="rj_entry__title"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a></h3>
                  <div class="rj_entry__categoires"><a href="">News</a><a href="">News</a></div>
                  <div class="rj_entry__excerpt"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum debitis eius perferendis, ducimus nihil maxime accusamus! Incidunt perspiciatis dicta qui! </a></div>
                </div>
              </article>
            </div>
            <div class="col col--2-of-2">
              <article class="rj_main__article">
                <div class="rj_article__body">
                  <div class="rj_entry__author"><a href="">Admin</a><span>|</span>
                    <div class="rj_article__date">January 13, 2017</div>
                  </div>
                  <h3 class="rj_entry__title"><a href="">ГЕРОЇ КРУТ – ДЛЯ НАЩАДКІВ ВЗІРЕЦЬ</a></h3>
                  <div class="rj_entry__categoires"><a href="">News</a></div>
                  <div class="rj_entry__excerpt"><a href="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum debitis eius perferendis, ducimus nihil maxime accusamus! Incidunt perspiciatis dicta qui!</a></div>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
      <div class="col col--1-of-3">
        <h2>sidebar</h2>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus pariatur maiores explicabo quam magni modi atque maxime in officia obcaecati exercitationem quod eum, quibusdam ratione placeat voluptates reiciendis architecto. Eaque.</p>
      </div>
    </div>
  </div>
</section>
<!-- CONTENT SECTION END-->