<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>



 {{ content }}

<footer class="page-footer">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-3">
        <div class="page-footer--widget page-footer--vk">
          vk-widget
        </div>
      </div>
      <div class="col-md-3">
        <div class="page-footer--widget page-footer--facebook">
          facebook-widget
        </div>
      </div>
      <div class="col-md-3">
        <div class="page-footer--info">
          <a href="mailto:ok@nickvorobiov.com" class="page-footer--email">ok@nickvorobiov.com</a>
          <div class="page--footer--company">ООО Реальность</div>
          <div class="page--footer--adress">г.Санкт-Петербург, ул.Некрасова 40</div>
          <a href="" class="page-footer--link">Политика Конфеденциальности</a>
          <div class="page-footer--phone">+7 (499) 112 47 92</div>
        </div>
      </div>
    </div>
  </div>
</footer>

<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
